/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* HEADER [NAVBAR] =============================================================================================================*/

header {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 999px;
  width: 75%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  box-sizing: border-box;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(10px);
}

.main_header {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
}

.header_links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header_links li a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
}

.header_links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(0%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  will-change: transform;
}

.header_links li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  width: 36px;
  height: 30px;
  cursor: pointer;
  z-index: 200;
}

.hamburger svg {
  fill: rgb(240, 240, 240);
}

.hamburger .bar,
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
}

.hamburger .bar {
  width: 28px;
  transition: transform 0.4s ease, opacity 0.3s ease;
  transform-origin: left center;
  position: relative;
}

.hamburger.active .top {
  width: 25.5px;
  transform: rotate(45deg);
}

.hamburger.active .middle {
  opacity: 0;
}

.hamburger.active .bottom {
  width: 25.5px;
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .header_links {
    flex-direction: column;
    position: absolute;
    top: 72px;
    margin-top: 6px;
    border-radius: 36px;
    text-align: end;
    right: 0;
    width: 100%;
    padding: 48px 48px;
    background: #121212;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  .header_links.active {
    padding: 48px 48px;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}

/* HERO SECTION =============================================================================================================*/

.hero-section {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-text-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  height: 40%;
}

.head-text {
  color: white;
  font-size: 96px;
}

.sub-head-text {
  color: white;
  font-size: 48px;
}

.hero-btn {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px 6px;
  font-size: 32px;
  height: 96px;
  width: 342px;
  border-radius: 999px;
}

.hero-btn p {
  padding-right: 48px;
  color: #011380;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #011380;
  width: 84px;
  height: 84px;
  border-radius: 999px;
}

.hero-btn:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}
